.App {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-ar);
  font-size: var(--font-size-regular);
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  transition: background var(--timing-animation);
  
  &--isDark {
    --color-bg: var(--color-bg-dark-theme);
    --color-input: var(--color-input-dark-theme);
    --color-text: var(--color-text-dark-theme);
    --color-task-hover: var(--color-input-dark-theme);
    --color-link: #3cb6ff;
    --color-gray: #adadad;

    --popup-background: rgb(28, 31, 74);

    --popup-input-backgroud: rgb(15, 20, 36);
    --popup-input-border: rgba(255, 255, 255, 0.15);
    --popup-input-placeholder: rgba(255, 255, 255, 0.5);
    --popup-input-text-color: white;

    --toast-background: rgb(28, 31, 74);
    --toast-text-color: white;

    --checkbox-background: white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
    flex: 1;
    padding: var(--default-padding);
  }
}
