@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
.popup {
  font-family: var(--font-family-ar);
  position: fixed;
  inset: 0;
  background: rgba(15, 20, 36, 0.75);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__card {
    background: var(--popup-background);
    color: var(--popup-text-color);
    padding: 30px;
    width: 320px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.4), 0 0 1rem rgba(0, 0, 0, 0.4) inset;
    &.closing {
      transform: scale(0.85) translateY(30px);
      opacity: 0;
    }
  }
  &__input {
    width: 100%;
    padding: 1.2rem 1.4rem;

    border-radius: 1rem;
    border: 1px solid var(--popup-input-border);

    margin-top: 2rem;

    background-color: var(--popup-input-backgroud);
    color: var(--popup-input-text-color);

    font-size: 1.4rem;
    font-family: "Cairo", sans-serif;

    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &::placeholder {
      color: var(--popup-input-placeholder);
    }

    &:focus {
      border-color: #6c7cff;
      box-shadow: 0 0 0 3px rgba(108, 124, 255, 0.25);
    }
  }
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .btn {
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    margin: 1rem;
    max-width: 10rem;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    color: #000000;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0) inset;
    transition: background-color 0.2s,
                transform 0.2s;
                
    &:hover{
      transform: scale(0.975);
    }
  }
  .confirm-btn {
    background: #c82d2d;
    &:hover {
      background-color: #962d2d;
    }
  }
  .edit-btn {
    background: #2dc82d;
    &:hover {
      background-color: #2d962d;
    }
  }
  .cancel-btn {
    background: #2d2dc8;
    &:hover {
      background-color: #2d2d96;
    }
  }
}

.toast {
  z-index: 1000;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--toast-background);
  color: var(--toast-text-color);
  padding: 1rem 1.8rem;
  border-radius: 1.2rem;

  font-size: 1.4rem;
  font-weight: 500;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.25s ease, transform 0.25s ease;

  &.showAlert {
    opacity: 1;
    transform: translateY(-50%, 50%);
  }
  
}
