@import "./mixins.scss";
.show {
  display: none;
}

.TaskList {
  &__link {
    @include linkStyle;
    margin-top: var(--default-padding);

    &--isActive {
      @include activeLink;

      .show {
        display: inline-block;
      }
      .hide {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: calc(var(--default-padding) * 2);
    flex: 1;
  }

  &__taskContent {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 var(--default-padding);
    height: 5.4rem;

    &:hover,
    &:focus-within {
      background-color: var(--color-task-hover);

      .TaskList__deleteIcon,
      .TaskList__editIcon {
        opacity: 1;
        visibility: visible;
      }
    }

    &--isActive {
      text-decoration: line-through;
      color: var(--color-gray);

      .TaskList__list--hideCompleted & {
        display: none;
      }

      .TaskList__checkbox {
        background-color: var(--color-blue);
      }

      .TaskList__checkboxImg {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__valueContent {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    font-size: var(--font-size-large);
  }

  &__value {
    flex: 1;
    cursor: pointer;
    height: 100%;
    padding: var(--default-padding);
    padding-right: calc(var(--default-padding) / 2);
    transition: all var(--timing-animation);
  }

  &__valueInput {
    padding: var(--default-padding);
    padding-right: calc(var(--default-padding) / 2);
    font-family: var(--font-family-ar);
    font-size: var(--font-size-large);
    border: none;
    width: 100%;
    background-color: var(--color-white);
    height: 100%;
  }

  &__checkbox {
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--checkbox-background);
    box-shadow: 0 0 0.3rem rgba(black, 0.1);
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-left: calc(var(--default-padding) / 2);
    cursor: pointer;
    transition: all var(--timing-animation);
  }

  &__checkboxImg {
    opacity: 0;
    visibility: hidden;
    user-select: none;
  }

  &__deleteIcon,
  &__editIcon {
    position: absolute;
    width: 2.8rem;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all var(--timing-animation);
    cursor: pointer;
  }
  &__editIcon {
    transform: translateX(150%);
    height: 2.5rem;
  }
}

.EmptyList {
  text-align: center;
  color: var(--color-gray);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-large);
  margin: var(--default-padding) auto 0;

  &__img {
    height: 30rem;
    filter: grayscale(1);
    opacity: 0.5;
  }
}