:root {
  --font-size-small: 1.4rem;
  --font-size-regular: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-xLarge: 4.2rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --default-padding: 1.6rem;

  --font-family-ar: "Cairo Play", sans-serif;

  --timing-animation: 0.2s;

  --checkbox-background: black;

  --color-black: #3e3e3e;
  --color-red: #ff2d2d;
  --color-blue: #064267;
  --color-white: white;
  --color-gray: #525252;
  --color-light-gray: #f1f3f5;
  --color-text: var(--color-black);
  --color-bg: var(--color-light-gray);
  --color-input: var(--color-white);
  --color-link: var(--color-blue);
  --color-task-hover: #ececec;
  --color-bg-dark-theme: #222222;
  --color-input-dark-theme: #333333;
  --color-text-dark-theme: var(--color-light-gray);

  //dark mode => rgb(28, 31, 74)
  --popup-background: rgb(80, 80, 80);
  --popup-text-color: white;

  //dark mode => rgb(15, 20, 36)
  --popup-input-backgroud: rgb(180, 180, 180);
  //dark mode => rgba(255, 255, 255, 0.15)
  --popup-input-border: rgba(0, 0, 0, 0.15);
  //dark mode => rgba(255, 255, 255, 0.5)
  --popup-input-placeholder: rgba(0, 0, 0);
  //dark mode => white
  --popup-input-text-color: black;

  --toast-background: var(--popup-input-backgroud);
  --toast-text-color: var(--popup-input-text-color);
}