@use "./SCSS/variables.scss";
@use "./SCSS/reset.scss";
@use "./SCSS/app.scss";
@use "./SCSS/header.scss";
@use "./SCSS/taskBar.scss";
@use "./SCSS/tasksViewer.scss";
@use "./SCSS/popup.scss";


@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');